<% include ../partials/header %>

<div class="row">
    <div class="col-xs-12">
        <h1>Games</h1>
    </div>
</div>

<div class="row">
    <% games.forEach((game) => { %>

        <div class="col-sm-4 col-md-3">
            <h3>#<%= game.ai_a %> vs #<%= game.ai_b %></h3>
            <p><strong>Status:</strong> <%= game.status %></p>
            <p><strong>Winner:</strong> <%= game.winner %></p>
            <p><strong>Gave up:</strong> <%= game.gaveup %></p>
            <p><a href="/games/<%= game.id %>" class="btn btn-default">See details</a></p>
        </div>

    <% }) %>
</div>

<% include ../partials/footer %>
